div {
}



.player{
  background-color: red;
}

.computer{
  background-color: blue;
}

.tile-container {
  width: 25%;
  height: 100px;
  display: inline-block;
  position: relative;
  perspective: 800px;
}

.tile {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: inline-block;
  position: absolute;
  transform-origin: right center;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.tile > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.tile .front {
  background: white;
}

.tile .back {
  transform: rotateY( 180deg );
}

.flipped{
  transform: translateX( -100% ) rotateY( -180deg );
}

.board-row{
}

#tttBoard{
}

#t0 {
  background-color: red;
  transform: perspective( 600px ) rotateY( 0deg );
}

#t1 {
  background-color: blue;
  transform: perspective( 600px ) rotateY( 0deg );
}

#t2 {
  background-color: green;
  transform: perspective( 600px ) rotateY( 0deg );
}

#t3 {
  background-color: purple;
  transform: perspective( 600px ) rotateY( 0deg );
}

#t4 {
  background-color: yellow;
  transform: perspective( 600px ) rotateY( 0deg );
}

#t5 {
  background-color: green;
  transform: perspective( 600px ) rotateY( 0deg );
}

#t6 {
  background-color: orange;
  transform: perspective( 600px ) rotateY( 0deg );
}

#t7 {
  background-color: gray;
  transform: perspective( 600px ) rotateY( 0deg );
}

#t8 {
  background-color: black;
  transform: perspective( 600px ) rotateY( 0deg );
}